<html>
  <body>
    <h1>Dashboard</h1>
    <div class="container">
      <h3 style="text-align: center;">Most Played Artists</h3>
      <table class="table table-bordered table-striped">
        <thead>
          <tr>
            <th>Artist Name</th>
            <th>Times Played</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let artist of playedArtists">
            <td><span> {{artist.artist}}</span></td>
            <td><span>{{artist.times}}</span></td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="container">
      <h3 style="text-align: center;">Most Played Songs</h3>
      <table class="table table-bordered table-striped">
        <thead>
          <tr>
            <th>Track Name</th>
            <th>Times Played</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let track of playedTracks">
            <td><span> {{track.track}}</span></td>
            <td><span>{{track.times}}</span></td>
          </tr>
        </tbody>
      </table>
    </div>
    <h3 style="text-align: center;">Word Fails</h3>
    <div style="display: block; width: 60%; margin-left: 20%; margin-bottom: 50px;">
        <canvas baseChart
                [datasets]="barChartDataFails"
                [labels]="mbarChartLabelsFails"
                [options]="barChartOptions"
                [colors]="barChartColorsFails"
                [legend]="barChartLegend"
                [chartType]="barChartType"
                (chartHover)="chartHovered($event)"
                (chartClick)="chartClicked($event)">
          </canvas>
    </div>
    <h3 style="text-align: center;">Word Asserts</h3>
    <div style="display: block; width: 60%; margin-left: 20%; margin-bottom: 50px;">
        <canvas baseChart
                [datasets]="barChartDataAsserts"
                [labels]="mbarChartLabelsAsserts"
                [options]="barChartOptions"
                [colors]="barChartColorsAsserts"
                [legend]="barChartLegend"
                [chartType]="barChartType"
                (chartHover)="chartHovered($event)"
                (chartClick)="chartClicked($event)">
          </canvas>
    </div>
  </body>
</html>